*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}



#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    /* margin: 0rem 1rem; */
}
#img-div{
    height: 50%;
    width: 90%;
    /* background-color: red; */
    border-radius: 20px;
    margin: 1rem;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(39, 255, 190, 0.166)), url(../Images/sergei-a--heLWtuAN3c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 5px;
    overflow: hidden;

}
#card{
    width: 50vw;
    height: 70vh;
    /* background-color: blue; */
    position: relative;
    bottom: 10rem;
    border-radius: 30px;
}
#upper{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
#lower{
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(178, 178, 178);
    padding: 1rem;
    
}
#add-todo{
    
    border-radius: 10px;
    margin-left: 0.5rem;
    border: none;
    background-color: #367BF5;
    height: 30%;
    color: white;
    font-weight: bold;
}
#add-todo:hover{
    background-color: white;
    color: #367BF5;
}
#add-todo:active{
    background-color: rgb(202, 202, 202);
    color: #367BF5;
}
#text{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    letter-spacing: 20px;
    
}
#div-1{
    width: 100%;
    height: 25%;
    background-color: white;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);

}
#div-2{
    width: 100%;
    height: 25%;
    /* background-color: lightblue; */
    border-radius: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);

}
#div-3{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    border-radius: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);

}
#div-4{
    width: 100%;
    height: 25%;
    /* background-color: aqua; */
    border-radius: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);

}
#head-text-1{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 3rem;
    margin-bottom: 0.25rem;
}
#head-status{
    width: 12%;
    height: 70%;
    border-radius: 50px;
    background-color: #367BF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-status-2{
    width: 4%;
    height: 70%;
    border-radius: 50px;
    background-color: #EA3D2F;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-status-3{
    width: 4%;
    height: 70%;
    border-radius: 50px;
    background-color: #367BF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-status-4{
    width: 4%;
    height: 70%;
    border-radius: 50px;
    background-color: #2FA84F;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
#tail{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#para{
    height: 40%;
    /* background-color: green; */
    margin-left: 20px;
    display: flex;
}
.delete{
    border: none;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    color: red;
    
}
#pop-up{
    width: 25vw;
    height: 70vh;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 0 15px 0 rgb(178, 178, 178);
    position: relative;
    bottom: 35rem;
    left: 37rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */


}
label{
    margin: 1rem 0;
}

#inp-1{
    /* margin: 30px; */
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid #367BF5;
    background-color: #edd8ff;
}

#inp-2{
    /* margin: 30px; */
    padding: 3rem;
    border-radius: 30px;
    border: 1px solid #367BF5;
    background-color: #edd8ff;
    /* overflow: scroll; */
    margin-bottom: 1rem;
}
#inp-3{
    /* margin: 30px; */
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid #367BF5;
    background-color: #edd8ff;
}
#savebtn{
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    background-color: #367BF5;
    padding: 0.25rem 1rem;
    color: white;
    font-weight: bold;
}
#cancelbtn{
    margin-top: 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: #367BF5;
    padding: 0.25rem 1rem;
    color: white;
    font-weight: bold;
}
#savebtn:hover{
    background-color: rgb(177, 164, 255);
    color: #367BF5;
}
#savebtn:active{
    background-color: rgb(202, 202, 202);
    color: #367BF5;
}
#cancelbtn:hover{
    background-color: rgb(177, 164, 255);
    color: #367BF5;
}
#cancelbtn:active{
    background-color: rgb(202, 202, 202);
    color: #367BF5;
}

.d-none{
    display: none !important;
}

select{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: 1px solid #367BF5;
    background-color: #edd8ff;
}